body{
    background:#F3D6AA;
    color: white;
}

.imagenlimonordenador {
    margin-top: 23px;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.limonmovil {
    display: none; /* Oculta la div por defecto */
}

/* Aplica estilos específicos para dispositivos móviles */
@media (max-width: 750px) {
    .imagenlimonordenador{
        visibility:hidden;
    }
    .limonmovil {
        display: block; /* Muestra la div en dispositivos móviles */
        width: 100%; /* Puedes ajustar este valor según tus necesidades */
        max-width: 170%; /* Puedes ajustar este valor según tus necesidades */
        position: fixed; /* Fija la posición para que no se desplace con el scroll */
        bottom: -30%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centra la div en la pantalla */
        z-index: 999; /* Coloca la div encima de otros elementos */
    }

    .limonmovil img {
        width: 100%; /* La imagen ocupa el 100% del ancho de su contenedor */
        height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
        max-width: 100%; /* No excede el tamaño original de la imagen */
    }
}
@media (max-width: 550px) {
    .imagenlimonordenador{
        visibility:hidden;
    }
    .limonmovil {
        display: block; /* Muestra la div en dispositivos móviles */
        width: 100%; /* Puedes ajustar este valor según tus necesidades */
        max-width: 100%; /* Puedes ajustar este valor según tus necesidades */
        position: fixed; /* Fija la posición para que no se desplace con el scroll */
        bottom: -25%;
        left: 50%;
        transform: translate(-50%, -54%); /* Centra la div en la pantalla */
        z-index: 999; /* Coloca la div encima de otros elementos */
    }

    .limonmovil img {
        width: 100%; /* La imagen ocupa el 100% del ancho de su contenedor */
        height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
        max-width: 100%; /* No excede el tamaño original de la imagen */
    }
}
.acceder-main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    font-size: 1.3rem;
    text-decoration: none;
    color: #fff; /* Color del texto */
    background-color: #007bff; /* Color de fondo del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: glitch 5s infinite; /* La animación dura 2 segundos y se repite infinitamente */
    z-index: 9999;
    /* ... (otros estilos) ... */
}

@keyframes glitch {
    0% {
        transform: translate(-50%, -50%)scale(0.9);
        background-color: #000000;
        color: #bcf591;
    }
    25% {
        transform: translate(-50%, -50%);
        background-color: #000000;
        color: #ffffff;
    }
    50% {
        transform: translate(-50%, -50%)scale(0.9);
        background-color: #000000;
        color: #90c9f8;
    }
    75% {
        transform: translate(-50%, -50%);
        background-color: #000000;
        color: #ffffff;
    }
    100% {
        transform: translate(-50%, -50%)scale(0.9);
        background-color: #000000;
        color: #fff;
    }
}
.acceder-main:hover {
    background-color: #000000;
    color: #ffffff;
    transform: translate(-50%, -50%)scale(1.2)skew(-10deg);
    animation: none; /* Detiene la animación al pasar el ratón */
}
/*para ocultar boton al dar al menu,sigue el codigo en js */
.nav-link.logged-out + .acceder-main {
    display: none;
}